@charset "UTF-8";

body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background: url('../images/office-bg.jpg') no-repeat center/cover;
}

a {
    text-decoration: none;
}

main {
    height: fit-content;
    padding: 40px 20px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #000000b4;
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    gap: 80px;

    text-align: center;

    background-color: #ffffff4b;
}

main > * {
    border-radius: 10px;
}

main > div {
    padding: 10px;

    text-shadow: 0px 1px 15px #000000b4;
}

main > div > h1 {
    padding-bottom: 15px;
}

form {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 1.1em;
}

form > p:nth-child(1) {
    padding-bottom: 5px;
}

form > div.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
}

form > div.inputs > input {
    padding: 10px;
    padding-left: 35px;
    border-radius: 50px;
    border: 2px whitesmoke solid;

    background-color: transparent;
}

form > div.inputs > i {
    position: absolute;

    color: #252525;
}

form > div.inputs > i.person {
    top: 6px;
    left: 10px;
}

form > div.inputs > i.lock {
    top: 66px;
    left: 10px;
}

form > div.inputs > input::placeholder {
    color: #252525;
}

form > div.inputs > input:focus {
    outline: none;

    background-color: #a1a1a18c;
}

form > div.inputs > input#password {
    margin-bottom: 15px;
}

form > button {
    padding: 12px;
    border-radius: 5px;
    border: none;

    background-color: #353535;

    color: #fff;
}

form > button:hover {
    cursor: pointer;
    background-color: #1b1b1b;
}